header{
    background-color: #5C8374;
    display: flex;
    row-gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* 
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px
} */

.bg-default{
    background-color: #93B1A6;
    color: #000;
}

/* Style the select box */
select {
    background-color: #93B1A6;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px; 
    outline: none; 
    
  }
  

.title{
    color: #183D3D;
}

@media (max-width: 568px) {
    header{
        flex-direction: column;
    }
  }